{% load static %}

<html lang="en">
<head>
    <title>User Information</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <body style="background-color:antiquewhite;">
    <style>
        .currentuser{
            margin-left: 220px;
            font-size: 20px;
        }

        .head-title{
            margin-left: 220px;
            font-size: 30px;
            font-weight: bold;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<h2 class="title">
    {{ course.ctitle }}
</h2>


<p class="head-title">USER INFORMATION</p>
<p class="currentuser">Full name: {{ qs.first_name }} {{ qs.middle_name }} {{ qs.last_name }}</p>
<p class="currentuser">Email: {{ qs.email }}</p>
<p class="currentuser">Nationality: {{ qs.nationality }}</p>
<p class="currentuser">Birthdate: {{ qs.birth_date }}</p>
<p class="currentuser">Address: {{ qs.address }}</p>
<p class="currentuser">Gender: {{ qs.gender }}</p>
<p class="currentuser">Pay Per Day: {{ qs.pay_per_day1 }}</p>
<p class="currentuser">Number of total attendance *insert attendance shit here* </p>
<p class="currentuser">Number of Sick Leave: {{ qs.sick_leave }}</p>
<p class="currentuser">Number of Vacation Leave: {{ qs.vacation_leave }}</p>
<p class="currentuser">Tax rate Deductions: {{ qs.tax_rate }}</p>
<p class="currentuser">Total Pay: {{ total }}</p>

<p class="currentuser">Tax Pay: {{ taxpay }}</p>

</body>
</html>