{% load static %}
<!DOCTYPE html>
<html>
<body style="background-color:antiquewhite;">
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
<head>
<style>
h2{
    text-align: center;
    font-family: Bebas Neue;
    font-size: 100px;
</style>
</head>
<body>
<h2>Register</h2>
<button class="button1">
    <a href="../home">Return to home</a>
</button>
<form method="post">
    {% csrf_token %}
    <p>Email: {{ form.email }}</p>
    <p>First Name: {{ form.first_name }}</p>
    <p>Middle Name: {{ form.middle_name }}</p>
    <p>Last Name: {{ form.last_name }}</p>
    <p>Gender: {{ form.gender }}</p>
    <p>Nationality: {{ form.nationality }}</p>
    <p>Birth Date: {{ form.birth_date }}</p>
    <p>Address: {{ form.address }}</p>
    <p>HR: {{ form.hr }}</p>
    <p>Accounting: {{ form.accounting }}</p>
    <p>Employee: {{ form.employee }}</p>
    <p>Admin: {{ form.admin }}</p>
    <input type="submit" value="Submit">
</form>
</body>

</html>

